<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="/fragments/markdown::head(~{::title}, ~{}, ~{})">
    <title>Post : Create</title>
</head>

<body>
<h1>Creating post!</h1>

<form id="postForm" th:action="@{/post/create}" th:object="${postDto}" method="post">
    <div><label>
        Title: <input type="text" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</p>
    </label></div>

    <div id="post-editor">
        <label>
            <textarea style="display:none;" th:field="*{content}"></textarea>
        </label>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content error</p>
    </div>

    <div><input type="submit" value="Submit"/></div>
</form>
Open <a th:href="@{/post}">posts</a>

<script th:replace="/fragments/markdown::editor('post-editor', 'content', 'postForm')"></script>
</body>
</html>