<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="/fragments/editor_header::head(~{::title}, ~{}, ~{})">
    <title>Post : Create</title>
</head>

<body>
<div th:replace="/fragments/navbar::navbar"></div>
<div class="container">
    <h1>Creating post!</h1>

    <form id="postForm" th:action="@{/post-create}" th:object="${postDto}" method="post">
        <label for="titleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="titleInput" aria-describedby="titleInputHelp" th:field="*{title}">
        <div id="titleInputHelp" class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

        <div id="post-editor" class="mt-2">
            <label><textarea style="display:none;" aria-describedby="contentInputHelp" th:field="*{content}"></textarea></label>
        </div>
        <p id="contentInputHelp" class="form-text" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>

        <div><button class="btn btn-primary" type="submit">Submit</button></div>
    </form>
</div>
<script th:replace="/fragments/editor_script::editor('post-editor', 'content', 'postForm')"></script>
</body>
</html>