<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head::head(~{::title}, ~{}, ~{})">
    <title>Home</title>
</head>
<body>
<div th:replace="/fragments/navbar::navbar"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Home</h1>
        <p class="lead">Simple news website engine, written in Java using Spring Framework! :)</p>
        <hr class="my-4">
        <p>You can check out already created posts</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/posts/}" role="button">Posts</a>
        </p>
    </div>
</div>
</body>
</html>