<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/markdown-head::head(~{::title}, ~{}, ~{})">
    <title>Post : List</title>
</head>
<body>

<div>
    <a th:href="@{/post/create}">Create new post</a><br>
    Open <a th:href="@{/top/posts}">top writers</a> <br>
    Open <a th:href="@{/profile}">profile</a> <br>
</div>

<h1>Posts here!</h1>

<hr>
<div th:each="post : ${posts}">
    <!--/*@thymesVar id="post" type="com.invokegs.dbcoursework.entity.Post"*/-->
    <center><a th:href="${'/post/' + post.id}"  th:text="${post.title}"></a></center>
    <br><br>
    <div th:id="'post-content-' + ${post.id}" style="max-width: 98%">
        <label>
            <textarea style="display:none;" th:text="${post.content}">### Hello world!</textarea>
        </label>
    </div>
    <br>
    <center><span>
        Author: <p th:remove="tag" th:utext="${post.author.username}"></p>
        <p th:text="'Creation time: ' + ${#dates.format(post.creationTime, 'dd MMM yyyy HH:mm')}"></p>
    </span></center>
    <hr/>
</div>

<script type="text/javascript" th:each="post : ${posts}">$(function () {
    editormd.markdownToHTML("post-content-" + "[[${post.id}]]", {});
})</script>
</body>
</html>