<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/markdown::head(~{::title}, ~{}, ~{})">
    <title>Post : View</title>
</head>
<body>

<div>
    Back to <a th:href="@{/post}">posts</a> <br>
</div>

<h1>Post</h1>

<hr>
<center><p th:remove="tag" th:text="${post.title}"></p></center>
<br><br>
<div th:id="'post-content'" style="max-width: 98%">
    <label>
        <textarea style="display:none;" th:text="${post.content}">### Hello world!</textarea>
    </label>
</div>
<br>
<center><span>
        Author: <p th:remove="tag" th:utext="${post.author.username}"></p>
        <p th:text="'Creation time: ' + ${#dates.format(post.creationTime, 'dd MMM yyyy HH:mm')}"></p>
    </span></center>
<hr/>
<a th:href="${'/post/edit/' + id}">Edit</a>
<a th:href="${'/post/delete/' + id}">Delete</a>

<script type="text/javascript">$(function () {
    editormd.markdownToHTML("post-content", {});
})</script>
</body>
</html>