<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="/fragments/editor_header::head(~{::title}, ~{}, ~{})">
    <title>Post : List</title>
</head>
<body>
<div th:replace="/fragments/navbar::navbar"></div>

<div class="container">
    <div class="float-end mt-2">
        <a class="btn btn-primary" th:href="@{/post-create}">Create new post</a><br>
    </div>
    <h1>Posts here!</h1>

    <div class="card mt-2" th:each="post : ${posts}">
        <div class="card-header"><a th:href="${'/post/' + post.id}" th:text="${post.title}"></a></div>
        <div class="card-body" th:id="'post-content-' + ${post.id}">
            <textarea style="display:none;" th:text="${post.content}" hidden="hidden"></textarea>
        </div>
        <div class="card-footer text-muted">
            Author: <a th:href="${'/profile/' + post.author.id}" th:text="${post.author.username}"></a>
            <p th:text="'Creation time: ' + ${#dates.format(post.creationTime, 'dd MMM yyyy HH:mm')}"></p>
        </div>
    </div>

    <ul class="pagination" th:with="pageNum=${posts.number + 1}">
        <li th:class="${'page-item ' + (posts.isFirst() ? 'disabled' : '')}">
            <a class="page-link" th:href="${'/posts/' + (pageNum - 1)}" tabindex="-1">Previous</a></li>

        <li class="page-item" th:if="${pageNum - 2 > 0}">
            <a class="page-link" th:href="'/posts/' + ${pageNum - 2}" th:text="${pageNum - 2}"></a>
        </li>

        <li class="page-item" th:if="${!posts.isFirst()}">
            <a class="page-link" th:href="'/posts/' + ${pageNum - 1}" th:text="${pageNum - 1}"></a>
        </li>

        <li class="page-item active"><a class="page-link" th:href="${'/posts/' + pageNum}" th:text="${pageNum}">
            <span class="sr-only">(current)</span></a></li>

        <li class="page-item"  th:if="${!posts.isLast()}">
            <a class="page-link" th:href="'/posts/' + ${pageNum + 1}" th:text="${pageNum + 1}"></a>
        </li>

        <li class="page-item"  th:if="${(pageNum + 2) <= posts.totalPages}">
            <a class="page-link" th:href="'/posts/' + ${pageNum + 2}" th:text="${pageNum + 2}"></a>
        </li>

        <li th:class="${'page-item ' + (posts.isLast() ? 'disabled' : '')}">
            <a class="page-link" th:href="${'/posts/' + (pageNum + 1)}">Next</a></li>
    </ul>
</div>

<script type="text/javascript" th:each="post : ${posts}">$(function () {
    editormd.markdownToHTML("post-content-" + "[[${post.id}]]", {});
})</script>
</body>
</html>