<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:value="'Profile ' + ${user.username} + ''"></title>
</head>
<body>

<h1>Profile</h1>
<h2 th:inline="text" th:value="'Hello ' + ${user.username} + '!'"></h2>
<p th:text="'Posts count: ' + ${user.postCount == null ? 0 : user.postCount.posts}">

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

Open <a th:href="@{/post}">posts</a>
</body>
</html>