<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div><label>
        Username: <input type="text" th:field="*{username}"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
    </label></div>

    <div><label>
        Email: <input type="text" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
    </label></div>

    <div><label>
        Password: <input type="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
    </label></div>
    <div><label>
        Confirm password: <input type="password" th:field="*{confirmPassword}"/>
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Password Error</p>
    </label></div>

    <div><label>
        First name: <input type="text" th:field="*{firstName}"/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</p>
    </label></div>
    <div><label>
        Last name: <input type="text" th:field="*{lastName}"/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</p>
    </label></div>

    <div><input type="submit" value="Register"/></div>
</form>
<a th:href="@{/login}">Login into account</a>
</body>
</html>