<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="/fragments/head::head(~{::title}, ~{::#frag_head_link}, ~{})">
    <title>Log Registration</title>
    <th:block th:remove="tag" id="frag_head_link">
        <link rel="stylesheet" th:href="@{/webs/styles/auth.css}">
    </th:block>
</head>

<body class="vsc-initialized">
<div th:replace="/fragments/navbar::navbar"></div>

<div class="login-form">
    <form th:action="@{/register}" th:object="${user}" method="post"
          oninput='confirmPassword.setCustomValidity(password.value !== confirmPassword.value ? "Passwords do not match." : "")'>
        <h2 class="text-center">Registration</h2>

        <div class="form-group">
            <input type="text" class="form-control mb-1" placeholder="Username" th:field="*{username}"
                   aria-describedby="usernameInputHelp" required="required"/>
            <div id="usernameInputHelp" class="form-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control mb-1" placeholder="Email" th:field="*{email}"
                   aria-describedby="emailInputHelp" required="required"/>
            <div id="emailInputHelp" class="form-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control mb-1" placeholder="Password" name="password" th:field="*{password}"
                   aria-describedby="passwordInputHelp" required="required"/>
            <div id="passwordInputHelp" class="form-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control mb-1" placeholder="Confirm password" name="confirmPassword" required="required"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control mb-1" placeholder="First name" th:field="*{firstName}"
                   aria-describedby="firstNameInputHelp"/>
            <div id="firstNameInputHelp" class="form-text" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control mb-1" placeholder="Last name" th:field="*{lastName}"
                   aria-describedby="lastNameInputHelp"/>
            <div id="lastNameInputHelp" class="form-text" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
    <a th:href="@{/login}">Login into account</a>
</div>
</body>
</html>