<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="/fragments/head::head(~{::title}, ~{}, ~{})">
    <title>Post : Author Top</title>
</head>
<body>

<div>
    Open <a th:href="@{/post}">posts</a><br>
    Open <a th:href="@{/profile}">profile</a> <br>
    Open <a th:href="@{/home}">home</a> <br>
</div>

<h1>Top of writers</h1>

<hr>
<div th:each="node : ${top}">
    <p th:text="${node.user.username} + ' created ' + ${node.posts} + 'posts'"></p>
</div>

</body>
</html>